<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProgressProject"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!-- Home -->
        <activity
            android:name=".HomeGuruActivity"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".HomeSiswaActivity"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Login"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Register"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginGuruActivity"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginSiswaActivity"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginGuru"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--Register -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RegisterSiswaActivity"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RegisterGuruActivity"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!-- Data -->
        <activity android:name=".DataSiswaActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity android:name=".DataGuruActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <!-- Siswa -->
        <activity android:name=".KelasActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity android:name=".JadwalActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity android:name=".JurusanActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity android:name=".MataPelajaranActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <!-- Guru -->
        <activity android:name=".DataNilaiActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity android:name=".DataAbsenActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>

        <!-- Navbar -->
        <activity android:name=".AboutSekolahActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity android:name=".MapsActivity"
            android:exported="true">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyAaoKRm1QolK6-jNc6cwDVnBZIN5iGxmME"/>
        </activity>
        <activity android:name=".TatatertibActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity android:name=".ProfilSekolahActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>

        <!-- Onboarding -->
        <activity android:name=".OnboardingDuaActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity android:name=".OnboardingTigaActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="false"/>
        </activity>


        </application>

</manifest>